html, body {
  height: 100%;
  width: 100%;
}

.header, .about {
  height: 100%;
  padding-top: 50px;
}

.headerBckgrnd {
  background: url(https://0.s3.envato.com/files/147788254/Gold%20Glitter2_01_preview1.JPG) no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 100vh;
}

.heading {
  font-family: 'lobster', cursive;
  font-size: 25vh;
}

h3 {
  font-family: 'Lobster', cursive;
}

.aboutBckgrnd {
  background: url('http://pre04.deviantart.net/5a58/th/pre/i/2013/044/2/2/abstract_indigo_stock_texture_by_aegiandyad-d5u1b5f.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 100%;
}

.body {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 700;
}

.signature {
  font-family: 'lobster', cursive;
  font-size: 4em;
  font-weight: 400;
}

.profileImg {
  border: 10px outset rgba(150, 150, 150, 0.3);
  border-radius: 25%;
}