html, body {
  height: 100%;
  width: 100%;
  background: url("../../imgs/doubleHelixbckgrnd.jpg") no-repeat center center fixed;
  background-size: cover;
}

/*Navigation Bar*/
.navbar {
  background: rgba(0,255,191,0.5);
  color: black;
}
.navbar .navbar-header > span.name {
  color: #000;
  font: 2em "Lobster", cursive;
}
.navbar .nav > li > a {
  color: #000;
  font: 700 2em 'Playfair Display', serif;
}
.navbar .nav > li > a:hover {
  background: rgba(128, 128, 128, 0.6);
  font: 700 2em 'Playfair Display', serif;
}


/*Background*/
/*.helix {
  margin: 40vh -15%;
  width: 200%;
  height: 40vh;
  transform:rotate(90deg);
  transform-style:preserve-3d;
  z-index: -2;
}
.dblHelix {
  perspective: 1000px;
  white-space: nowrap;
  z-index: -1;
}
.dblHelix > div {
  display: inline-block;
  position: relative;
  margin: 0 6px;
  width: 1px;
  height: 30vh;
  box-shadow: 1px 1px 1px 1px hsla(0,0%,0%,0.2);
  background:hsla(243, 100%, 85%, 1);
  animation: rot 5s linear infinite,
             chngCol 5s linear alternate infinite;
  transition:all 1s ease;
  z-index: -1;
}
.dblHelix > div::before,
.dblHelix > div::after {
  position: absolute;
  left: -2px;
  border-radius: 50%;
  width: 12px;
  height: 10px;
  box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,0.25);
  background: hsla(243, 95%, 85%, 1);
  content: "";
  z-index: -1;
}
.dblHelix > div::before {
  top: -2px;
}
.dblHelix > div::after {
  bottom: -2px;
}
@keyframes rot{
  to {
    transform: rotateX(360deg);
  }
}
@keyframes chngCol {
  to {
    background: hsla(253, 85%, 25%, 1);
  }
}*/

/*Main Information*/
#biology {
  margin-top: 50px;
  maring-left: 25px;
}
.header {
  color: rgb(255, 255, 255);
  font: 10em 'Lobster', cursive;
  margin-right: 50%;
}
.subheader {
  color: rgb(255, 255, 255);
  font: 700 2em "Playfair Display", serif;
  margin-right: 50%;
  word-spacing: 5px;
}
hr.divider {
  border: 1px outset rgba(255,255,255,0.6);
  width: 80vw;
}
#bioPaper{
  background: rgba(150,150,150,0.75);
  position: relative;
  margin-left: 25px;
  margin-right: 28%;
}
#bioPaper > h2 {
  text-align: center;
  font: 700 3em "Lobster", cursive;
  color: rgb(255,255,255);
}
#bioPaper > p {
  font: 700 2em "Playfair Display", serif;
  color: whitesmoke;
}
